<h1>New Article</h1>
<%= form_with(model: @arricle, method: :get, local: true) do |form| %>


<%=form_with(model: @arricle, method: :get, local: true, url: confirm_articles_path) do |form| %>
<h2>まだ登録は完了していません</h2>

<div class="field">
    <p><%= form.label :title %></p>
    <%= @article.title %>
    <%= form.hidden_field :title, id: :article_title %>
</div>
<div class="field">
    <p><<%= form.label :context %></p>
    <%= @article.context %>
    <%= form.hidden_field :context, id: :article_context %>
</div>

<div class="actions">
    <%= form.submit '戻る', name: :back %>
    <%= form.submit '登録'%>
</div>

<%= link_to 'Back', articles_path %>
<% end %>