<p id="notice"><%= notice %></p>
<h1>Articles</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <%= @article.each do |article| %>
        <tr>
            <td><%= @article.title %></td>
            <td><%= @article.context %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<%= link_to 'New Article', new_articles_path %>