<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h2>ご注文受付のお知らせ</h2>
    <p>以下の内容でご注文を承りました。</p>
    <p>----------------------------------</p>
    <p>受付日時 : <%= @order.updated_at %></p>
    <p>タイトル : <%= Book.find(@order.book_id).title %></p>
    <p>数量 : <%= @order.quantity %></p>
    <p>お届け先 : <%= @order.address %></p>
    <% @order.order_detail.each do |detail| %>
      <p>タイトル : <%= Book.find(detail.book_id).title %></p>
      <p>数量 : <%= detail.quantity %>　冊</p>
    <% end %>
    <p>----------------------------------</p>
  </body>
</html>
